<div class="header">
  <div class="topLogo">
    <%= image_tag("logo.png", size: "150x50") %>
  </div>

  <div class="topButton">
    <%= link_to image_tag("google.png"), user_google_oauth2_omniauth_authorize_path %>
  </div>
</div>
