
<h4>Notes:</h4>
    <table class="table table-hover">
      <% if @only_notes.count == 0 %>
        <em><h5>No notes yet</h5></em>
      <% else %>
        <% @only_notes.each do |note| %>
        <tr>
          <td>
           <small><%=note.created_at.localtime.strftime("%d %b %Y")%></small>
            <%= note.body %>
            <% end %>
          </td>
        </tr>
    <% end%>
    </table>
